In [ ]:
import tempfile
from pdf2image import convert_from_path, convert_from_bytes

In [ ]:
from pdf2image.exceptions import (
    PDFInfoNotInstalledError,
    PDFPageCountError,
    PDFSyntaxError
)

In [ ]:
with tempfile.TemporaryDirectory() as path:
    images_from_path = convert_from_path('tabla-periodica-valencias-frecuentes.pdf', output_folder="../Documents")

In [ ]:
from PIL import Image
 


img = Image.open("Untitled2.png")



img.show()

In [ ]:
myList = (1, 4, 5, 10, 20)

print(sum(myList)/len(myList))

In [ ]:
a = 1/4
b=2/7
c=1/2

print(a-b+c)

In [ ]:
print(9.64+3.313)

C(n,r)=n!/r!(n−r)!

n = the number of objects to choose from.

r = the number of objects selected.

There are 5 items: A, B, C, D, and E. How many combinations of 3 can you make from these 5 items?

In [ ]:
import math

In [ ]:
comb = math.factorial(5)/(math.factorial(3)*math.factorial(2))
print(comb)

A team of three will be chosen from a group of 9 candidates. How many possible teams of three are possible?

In [ ]:
comb = math.factorial(9)/(math.factorial(3)*math.factorial(6))
print(comb)

In [ ]:
print(math.factorial(7))

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel('numpy01.xlsx')

In [6]:
df

  Nombre      Edad    Sexo  Altura  Peso
0      Juan     20  Hombre    1.70    60
1     María     25   Mujer    1.60    80
2     Pedro     30  Hombre    1.80    80
3       Ana     35   Mujer    1.50    50
4     Carlos    18  Hombre    1.65    70
5      Sofía    22   Mujer    1.55    55
6      Diego    27  Hombre    1.75    85
7      Laura    32   Mujer    1.65    65
8       Luis    19  Hombre    1.60    70
9     Isabel    23   Mujer    1.50    55

In [9]:
df.head(4)

  Nombre      Edad    Sexo  Altura  Peso
0      Juan     20  Hombre     1.7    60
1     María     25   Mujer     1.6    80
2     Pedro     30  Hombre     1.8    80
3       Ana     35   Mujer     1.5    50