## Python statistics essential training - 02_03_pandas

Standard imports

In [5]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp

%matplotlib inline

In [61]:
planets = pd.read_csv('Planets.csv')

In [7]:
planets

,Planet,Mass,Diameter,DayLength,SunDistance,OrbitPeriod,OrbitVelocity,MeanTemperature,SurfacePressure,Moons,Rings,MagneticField,FirstVisited,FirstMission
0,MERCURY,0.3300,4879,4222.6,57.9,88,47.4,167,0.00000,0,No,Yes,1974-03-29,Mariner 10
1,VENUS,4.8700,"12,104",2802.0,108.2,224.7,35.0,464,92.00000,0,No,No,1962-08-27,Mariner 2
2,EARTH,5.9700,"12,756",24.0,149.6,365.2,29.8,15,1.00000,1,No,Yes,NaN,NaN
3,MOON,0.0730,3475,708.7,NaN,27.3,1.0,-20,0.00000,0,No,No,1959-09-12,Luna 2
4,MARS,0.6420,6792,24.7,227.9,687,24.1,-65,0.01000,2,No,No,1965-07-15,Mariner 4
5,JUPITER,1898.0000,"142,984",9.9,778.6,4331,13.1,-110,NaN,67,Yes,Yes,1973-12-04,Pioneer 10
6,SATURN,568.0000,"120,536",10.7,1433.5,"10,747",9.7,-140,NaN,62,Yes,Yes,1979-09-01,Pioneer 11
7,URANUS,86.8000,"51,118",17.2,2872.5,"30,589",6.8,-195,NaN,27,Yes,Yes,1986-01-24,Voyager 2
8,NEPTUNE,102.0000,"49,528",16.1,4495.1,"59,800",5.4,-200,NaN,14,Yes,Yes,1989-08-25,Voyager 2
9,PLUTO,0.0146,2370,153.3,5906.4,"90,560",4.7,-225,0.00001,5,No,NaN,2015-07-14,New Horizons

In [67]:
planets = pd.read_csv('Planets.csv',usecols=[0,1,2,3,4])

In [12]:
planets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Planet         10 non-null     object
 1   Mass           10 non-null     float64
 2   Diameter       10 non-null     object
 3   DayLength      10 non-null     float64
 4   OrbitVelocity  10 non-null     float64
dtypes: float64(3), object(2)
memory usage: 532.0+ bytes

In [13]:
planets.describe()

              Mass    DayLength  OrbitVelocity
count    10.000000    10.000000      10.000000
mean    266.669960   798.920000      17.700000
std     599.249294  1484.233185      15.534549
min       0.014600     9.900000       1.000000
25%       0.408000    16.375000       5.750000
50%       5.420000    24.350000      11.400000
75%      98.200000   569.850000      28.375000
max    1898.000000  4222.600000      47.400000

In [14]:
planets.columns

Index(['Planet', 'Mass', 'Diameter', 'DayLength', 'OrbitVelocity'], dtype='object')

In [44]:
planets['Mass']
# Same as planets.Mass

0       0.3300
1       4.8700
2       5.9700
3       0.0730
4       0.6420
5    1898.0000
6     568.0000
7      86.8000
8     102.0000
9       0.0146
Name: Mass, dtype: float64

In [8]:
planets.index

RangeIndex(start=0, stop=10, step=1)

In [71]:
planets.loc[0]

Planet         MERCURY
Mass              0.33
Diameter          4879
DayLength       4222.6
SunDistance       57.9
Name: 0, dtype: object

In [70]:
planets.loc['MERCURY']

KeyError: 'MERCURY'

In [66]:
planets.loc['MERCURY':'EARTH']

Empty DataFrame
Columns: [Planet, Mass, Diameter, DayLength, SunDistance]
Index: []

In [54]:
# planets.set_index('Planet',inplace=True)
planets.set_index("Planet", inplace=True)
planets

          DayLength  OrbitVelocity
Diameter
4879         4222.6           47.4
12,104       2802.0           35.0
12,756         24.0           29.8
3475          708.7            1.0
6792           24.7           24.1
142,984         9.9           13.1
120,536        10.7            9.7
51,118         17.2            6.8
49,528         16.1            5.4
2370          153.3            4.7

In [56]:
len(planets)

10

In [73]:
planets = pd.read_csv('Planets.csv')

In [74]:
planets.set_index('Planet',inplace=True)

In [77]:
planets.FirstVisited['MERCURY']

'1974-03-29'

In [79]:
planets.loc['MERCURY'].FirstVisited

'1974-03-29'

In [80]:
planets.loc['MERCURY','FirstVisited']

'1974-03-29'

In [82]:
type(planets.loc['MERCURY','FirstVisited'])

str

In [88]:
pd.to_datetime(planets.FirstVisited)
# planets.FirstVisited

Planet
MERCURY   1974-03-29
VENUS     1962-08-27
EARTH            NaT
MOON      1959-09-12
MARS      1965-07-15
JUPITER   1973-12-04
SATURN    1979-09-01
URANUS    1986-01-24
NEPTUNE   1989-08-25
PLUTO     2015-07-14
Name: FirstVisited, dtype: datetime64[ns]

In [91]:
planets.FirstVisited = pd.to_datetime(planets.FirstVisited)
planets.info()
# Elements stored in FirstVisited changed to Dtype datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, MERCURY to PLUTO
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mass             10 non-null     float64
 1   Diameter         10 non-null     object
 2   DayLength        10 non-null     float64
 3   SunDistance      9 non-null      float64
 4   OrbitPeriod      10 non-null     object
 5   OrbitVelocity    10 non-null     float64
 6   MeanTemperature  10 non-null     int64
 7   SurfacePressure  6 non-null      float64
 8   Moons            10 non-null     int64
 9   Rings            10 non-null     object
 10  MagneticField    9 non-null      object
 11  FirstVisited     9 non-null      datetime64[ns]
 12  FirstMission     9 non-null      object
dtypes: datetime64[ns](1), float64(5), int64(2), object(5)
memory usage: 1.4+ KB

In [92]:
planets.FirstVisited.dt.year

Planet
MERCURY    1974.0
VENUS      1962.0
EARTH         NaN
MOON       1959.0
MARS       1965.0
JUPITER    1973.0
SATURN     1979.0
URANUS     1986.0
NEPTUNE    1989.0
PLUTO      2015.0
Name: FirstVisited, dtype: float64

In [93]:
2023 - planets.FirstVisited.dt.year

Planet
MERCURY    49.0
VENUS      61.0
EARTH       NaN
MOON       64.0
MARS       58.0
JUPITER    50.0
SATURN     44.0
URANUS     37.0
NEPTUNE    34.0
PLUTO       8.0
Name: FirstVisited, dtype: float64